html,
body {
    height: 100%;
}

body {
    background-image: url('../img/bg.png');
}

section {
    margin-bottom: 50px;
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#main {
    padding-top: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
}

#main ul li {
    line-height: 25px;
}

.nav-header {
    font-size: 12px;
}

.navbar-inner {
    background-color: #2F96B4;
    background-image: none;
    border: none;
}

.navbar .brand {
    color: #FDFDFD;
    font-size: 24px;
    font-weight: 500;
    text-shadow: none;
}

.navbar .nav > li > a {
    color: #FDFDFD;
    font-size: 16px;
    text-shadow: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: #5BC0DE;
    color:  #FDFDFD;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    background-color: #5BC0DE;
    box-shadow: none;
    color:  #FDFDFD;
}

.select-gift {
    height: 425px;
    background-color: #EEEEEE;
    border-radius: 6px 6px 0 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-top: 10px;
    padding: 40px;
    text-align: center;
}

.select-gift img {
    max-width: 350px;
    max-height: 300px;
}

.select-btn {
    border-radius: 0 0 6px 6px;
    font-size: 24px;
    height: 60px;
    width: 100%;
}

.ranked-gift {
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin: 10px 20px;
    padding: 20px 60px 20px 20px;
}

.ranked-gift img {
    float: right;
}

#push,
#footer {
    height: 60px;
}

#footer p {
    margin-top: 10px;
}

#notice {
    text-align: right;
}
